/* ul{
    list-style: circle;
} */

#head{
    color: sandybrown;
}

#head1{
    color: aqua;
}

/* #head2{
    color:green;
} */

/* #head3{
    color: red;
} */

.lassi{
    color:green;
}
.sugar{
    color:red
}

/* ul > li {
            color: darkgoldenrod;
        }

ul ul li{
    color :red;
} */