nav{
    background-color:rgb(223, 60, 147);
    height: 100px;
    width: 99vw;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;/*logo left links right*/
    align-items: center;
    padding: 0 20px;

}

.logo{
    height: 80px;
    width: 80px;
    border-radius: 50px;

}

.container a{
   margin-left: 20px;
   text-decoration: none;
   color:black;
   font-weight: bold;
}

a:hover{
    display:inline-block;
    color: aqua;

}